/* assessment form */
.main {
  background-color: rgb(2, 2, 56);
  padding: 30px;
}

.inputField {
  width: 10%;
  height: 40px;
  border-radius: 20px;
  /* box-shadow: inset 0px 0px 25px 0px white; */
  background-color: blue;
  color: white;
}


/* question form */
.question {
  background-color: rgb(194, 227, 238);
  padding: 30px;
}

/* TM DashBoard */
.tmTitle{
background-color: rgb(2, 2, 56);
color: orange;

}

.tmBody{
    background-color: lightblue;
}

button {
    padding: 0px 30px;
    color: #fff;
  }

.tmCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin:10px auto;
}