/* assessment form */
.main {
  background-color: rgb(2, 2, 56);
  padding: 30px;
  text-align: center;
}

.inputField {
  width: 10%;
  height: 40px;
  border-radius: 20px;
  /* box-shadow: inset 0px 0px 25px 0px white; */
  background-color: blue;
  color: white;
}


/* question form */
.question {
  background-color: rgb(194, 227, 238);
  padding: 30px;
  text-align: center;
}

/* TM DashBoard */
.tmTitle{
background-color: rgb(2, 2, 56);
color: orange;

}

.tmBody{
    background-color: lightblue;
}

button {
    padding: 0px 30px;
    color: #fff;
  }

.tmCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* width: 90%; */
    margin-left:50px;
    /* margin-bottom:50px; */
    /* justify-content: center; */
    /* align-items: center */
}


/* questionlist */

.listQuestions{
  /* margin-left: 50px; */
  font-size: large;
  width: 80%;
  margin: 0 auto;
}
.assessmenttitle{
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.items{
  display: flex;
  /* margin: 20px */
}
.type{
margin-left: 30px
}
.duration{


}
.assessmentbody{
  background-color: rgba(255, 165, 0 );
  height: 40px;
  width: 70%;
  padding: 10px 5px;
  border-radius: 3px
}
.assessmentquiz{
  font-family: sans-serif;
}
.assessmentAnswer{
  color: rgb(211, 60, 5);
  font-size: large
  
  
}

.homepage{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.5)), url("../images/image10.jpg");
  background-size: cover;
  /* padding: 0px 0 250px 0; */
  padding: 90px;
  background-position: center;
  
}

.form-title{
  color: rgb(211, 60, 5);
}

.hidden{
  display:none;
}

/* student assessment */
.studentAssessment{
  display: flex;
  width: 100%;
  /* align-items: center; */
  padding: 50px;
  
  /* justify-content: center; */

}
.latestassessment{
  padding-left: 50px
}