.navbar .container{
    /* display: flex; */
    background-color: #111827;
    /* align-content:space-between; */
    /* justify-self: left; */
    /* margin: 0; */
    /* padding: 0; */
    /* max-width: 100%; */
    

}


.container, .container-lg, .container-md, .container-sm {
    max-width: 9000px;
}
.navbar{
    background-color: #111827;
    color: #ffff;
    font-size: 15px;

}
.container .nav-link {
    font-size:11px;
    color: #ffff;
    background-color: #111827;
    
    
}
.container .nav-link:hover {
    font-size:smaller;
    color: #F15524;
    background-color: #111827;
}
.container .d-flex{
    color: #F15524;
    border-color: #F15524;
}

.container .search-btn {
    color: #fff;
    border-color: #F15524;
    font-size: smaller;
}

.container .main{
    font-size: 30px;
    color: #F15524;
    background-color: #111827;
}

.container .main:hover{
    font-size: 20px;
    color: #F15524;
    background-color: #F3F7FA;
}

.container .me-automy-2my-lg-0{
    color: #F15524;


}

.container .login-btn{
    background-color: #FF9F1B;
    margin-right: 240px;
    color: #ffff;

}
.nav.link:hover {
    background-color: #f90;
}

.App{
    background-color: #F3F7FA;
    /* position:absolute;
    padding:0;
    margin:0;

    top:0;
    left:0; */

    /* min-width: 100vh; */
    /* min-height: 100vh; */
    /* box-sizing:border-box ;  */
    min-height: 90vh;
    margin: 0px;
    /* padding:0px 0px 0px 0px; */
}

.d-flex .me-2{
    height: 100% !important;
    width: 30%;
    margin-left: 20px;
    margin-right: 0px;
}