.navbar .container{
    /* display: flex; */
    background-color: #111827;
    /* align-content:space-between; */
    /* justify-self: left; */
    /* margin: 0; */
    /* padding: 0; */
    /* max-width: 100%; */
    

}

.navbar{
    background-color: #111827;
    color: #ffff;
    font-size: 15px;

}
.container .nav-link {
    font-size:15px;
    color: #ffff;
    background-color: #111827;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* padding: 0px 20px 0px 0px; */
    
}
.container .nav-link:hover {
    /* font-size:smaller !important; */
    color: #F15524 !important;
    /* background-color: #F3F7FA !important; */
}

.container .d-flex{
    color: #F15524;
    border-color: #F15524;
}

.container .search-btn {
    color: #fff;
    border-color: #F15524;
    font-size: smaller;
}

.container .main{
    color: #F15524;
    background-color: #111827;
}

.container .main:hover{
    color: #F15524;
    background-color: #F3F7FA;
}


.container .login-btn{
    background-color: #FF9F1B;
    /* margin-right: 00px; */
    color: #ffff;

}


.App{
    background-color: #F3F7FA;

    min-height: 100vh;
    margin: 0px;
    /* padding:0px 0px 0px 0px; */
}

.d-flex .me-2{
    height: 100% !important;
    width: 200px;
    /* margin-left: 80%; */
    /* margin-right: 40px; */
}

.nav-buttons{
    float:right;
    margin-left:10px;
    margin-right:10px;
}