.login-form{
    text-align: center;
        justify-content: center;
        display: block;
        background-size: cover; 
        padding: 30px;     
}

input{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px silver;
    outline: none;
    background-color: #fff;
    border-color: orange;
    /* text-align: center; */
  }
  .name{
    padding-left: 10px;
    align-items: center;
  }

  .body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)), url("../images/image4.jpg");
    background-size: cover;
    padding: 70px 0 220px 0;
  }
  .title{
    color: white
  }

  .button-1{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    background-color: orange;
    color: white;
   
  }