* {
    
    /* margin: 0;  */
    /* box-sizing:border-box ;  */
}

.container{
    background-color: #F3F7FA;
    /* display: flex; */
    /* flex-direction: column; */
    
  
    
}

.hero-img{
    height: 100%;
    width: 100%;
    margin-left: 12px;
    /* margin-bottom: 0px; */
    
}


.student{
    display: flex;
    background-color:#025397 ;
    color:#ffff ;
    padding-bottom: 60px;
    padding-top: 60px;
    
    flex-direction: column;
    align-items: center;
    
}
.tm{
    display: flex;
    background-color:#FF9F1B ;
    color: #ffff;
    padding-bottom: 60px;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    /* margin-left: -120px; */
      
}

.intro {
    padding-top: 10%;
    padding-bottom: 20px;
   padding-left: 31px;
    /* justify-content: left; */
}

.hire {
    /* background-color: #FF9F1B; */
    background-color: #025397;

}

.hiring {
    background-color:#FF9F1B;
}
/* 
.h-main{
    
    display: flex;
  
} */