* {
    /* margin: 10; */
    /* box-sizing:border-box ; */
}

.container{
    background-color: #F3F7FA;
  
    
}

.container .hero-img{
    height: 100%;
    width: 100%;
    margin-left: 12px;
    
}


.student{
    background-color:#025397 ;
    color:#ffff ;
    padding-bottom: 70px;
    padding-top: 60px;
}
.tm{
    background-color:#FF9F1B ;
    color: #ffff;
    padding-bottom: 70px;
    padding-top: 60px;
    
}

.intro {
    padding-top: 10%;
   
    justify-content: left;
}